.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-color: black;
  background-image: url(../../recursos/img/logo.png);
  background-repeat: no-repeat;
  background-position: center center;}

  .text{color: rgb(0, 0, 0);
  }
  .link2{
    text-decoration: none;
    color: white;
  }