.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url(/recursos/img/imagen7login.jpg);
  background-size: cover;
  background-position: center center;
  padding: 0px;
}

.text {
  color: rgb(0, 0, 0);
}

.BIENVENID {
  margin-left: 810px;
  margin-top: 50px;
  box-shadow: black 100px;
  font-size: 5ch;
}

#hora {
  margin-left: 870px;
  margin-top: 20px;
  font-size: 5ch;
}

.Administrar {
  margin-left: 720px;
  margin-top: 50px;
  box-shadow: black 100px;
  font-size: 5ch;
}

.img_producto {
  width: 100px;
  height: 100px;
}

.alinear {
  text-align: justify;
}

.textr {
  color: black;
  padding-top: 4px;
  text-decoration: none;
}

.link1 {
  text-decoration: none;

}

.link2 {
  text-decoration: none;
  color: white;
}


.text4 {
  background-color: black;
  height: 80px;
}

.par {
  color: white;
  margin-left: 790px;
  padding: 20px;
}

.street {
  padding: 10px;
  margin-left: 890px;
  font-size: 20px;
}
.chart-container {
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: auto;
}

#charts {
  padding-top: 50px;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.dashboard-i {
  background-color: #f1f1f1; /* Fondo blanco de cada gráfica */
  border-radius: 8px;
  padding: 20px;
  color: rgb(0, 0, 0); /* Asegurar que el texto sea blanco */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.dashboard-item h4 {
  margin-bottom: 20px;
  color: white; /* Asegurar que el texto del título sea blanco */
}