<!doctype html>
<html lang="es">

<head>
    <title></title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../resources/css/estilos.css">
</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main>

        <div class="container-fluid">
            <div class="row no-gutter">
                <!-- The image half -->
                <div class="col-md-6 d-none d-md-flex bg-image">
                    <img src="../../resources/img/portada1.jpeg" alt="">
                </div>


                <!-- The content half -->
                <div class="col-md-6 bg-light">
                    <div class="login d-flex align-items-center py-5">

                        <!-- Demo content-->
                        <form id="sessionForm">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-10 col-xl-7 mx-auto">
                                        <h3 class="display-4 text">Hoodie´s Store</h3>
                                        <p class="text-muted mb-4">¡Inicia sesion!</p>
                                        <div class="form-group mb-3">
                                            <input id="correoCliente" type="email" placeholder="Correo electrònico"
                                                required="" autofocus=""
                                                class="form-control rounded-pill border-0 shadow-sm px-4"
                                                name="correoCliente">
                                        </div>
                                        <div class="form-group mb-3">
                                            <input id="contraseñaCliente" type="password" placeholder="Contraseña"
                                                required=""
                                                class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
                                                name="contraseñaCliente">
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input id="customCheck1" type="checkbox" checked
                                                class="custom-control-input">
                                            <label for="customCheck1" class="custom-control-label">Recordar
                                                contraseña</label>

                                            <blockquote><a href="../../vistas/privado/correorestablecer.html"
                                                    class="link1">
                                                    <p class="textr">¿Has olvidado tus credenciales?</p>
                                                </a></blockquote>
                                            <blockquote><a href="../../views/public/registro.html" class="link1">
                                                    <p class="textr">Registrarse</p>
                                                </a></blockquote>
                                        </div>
                                        <button type="submit"
                                            class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm"><a
                                                class="link2">Ingresar</a>
                                        </button>
                                        <div class="text-center d-flex justify-content-between mt-4">
                                            <p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <!-- place footer here  -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="../../controlers/utils/publico.js"></script>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controlers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controlers/utils/publico.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controlers/public/Iniciosesion.js"></script>

</body>

</html>