<!doctype html>
<html lang="es">

<head>
    <title></title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../resources/css/estilos.css">
</head>

<body>
    <main>
        <div class="container-fluid">
            <div class="row no-gutter">
                <!-- The image half -->
                <div class="col-md-6 d-none d-md-flex bg-image bg-light">
                    <img src="../../resources/img/portada1.jpeg" alt="">
                </div>

                <!-- The content half -->
                <div class="col-md-6 bg-light">
                    <form id="perfilForm">
                        <div class="login d-flex align-items-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-10 col-xl-7 mx-auto">
                                        <h3 class="display-4 text">Hoodie´s Store</h3>
                                        <p class="text-muted mb-4">¡Editar una cuenta.</p>
                                        <div class="row g-3" id="formulario">
                                            <div class="col-sm-12 col-md-6">
                                                <label for="nombreCliente" class="form-label">Nombre</label>
                                                <input id="nombreCliente" type="text" name="nombreCliente"
                                                    class="form-control" required>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label for="apellidoCliente" class="form-label">Apellido</label>
                                                <input id="apellidoCliente" type="text" name="apellidoCliente"
                                                    class="form-control" required>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label for="telefonoCliente" class="form-label">Teléfono</label>
                                                <input id="telefonoCliente" type="text" name="telefonoCliente"
                                                    class="form-control" required>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label for="correoCliente" class="form-label">Correo
                                                    electrónico</label>
                                                <input id="correoCliente" type="email" name="correoCliente"
                                                    class="form-control " required>
                                            </div>
                                            <div class="col-sm-12 ">
                                                <label for="direccionCliente" class="form-label">Direcciòn </label>
                                                <input id="direccionCliente" type="text" name="direccionCliente"
                                                    class="form-control " required>
                                            </div>
        
                                        </div>
                                        <div class="mt-4 pt-2 text-center">
                                            <button class="btn btn-outline-secondary" type="submit">editar</button>
        
                                            <div class="text-center p-3">
                                                <button type="button" class="btn btn-outline-secondary" onclick="openPassword()">
                                                    <i class="bi bi-shield-lock"></i> Cambiar contraseña
                                                </button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div><!-- End -->
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        <div class="modal fade" id="passwordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <!-- Contenido del componente Modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle">Cambiar contraseña</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para actualizar contraseña -->
                    <form id="passwordForm">
                        <div class="modal-body row g-3">
                            <div class="col-sm-12 col-md-6 offset-md-3">
                                <label for="claveActual" class="form-label">Contraseña actual</label>
                                <input id="claveActual" type="password" name="claveActual" class="form-control"
                                    required>
                            </div>
                            <div class="col-12 text-center">
                                <span>CONTRASEÑA NUEVA</span>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="claveNueva" class="form-label">Contraseña</label>
                                <input id="claveNueva" type="password" name="claveNueva" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="confirmarClave" class="form-label">Confirmar contraseña</label>
                                <input id="confirmarClave" type="password" name="confirmarClave" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- Inclusión de la librería de mascaras. Para más información https://github.com/text-mask/text-mask -->
    <script type="text/javascript" src="../../resources/js/vanillaTextMask.js"></script>

    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controlers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controlers/utils/publico.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controlers/public/perfil.js"></script>

</body>

</html>